:root {
  --background-color: #f3f4f6;
  --white: #ffffff;
  --text-color: #0e374e;
  --gray: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.main {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 32px 24px;
  gap: 24px;
  max-width: 1500px;
  gap: 30px;
}

.section-container,
.logo-container {
  padding: 20px;
  background-color: var(--white);
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.logo {
  width: 100px;
  height: 100px;
}
.header {
  font-size: 48px;
}
.section-icon {
  width: auto;
  height: 30px;
  margin-right: 5px;
}
.section-icon .education {
  width: auto;
}
.forms-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 90vh;
  overflow-y: auto;
}
.section-saved-data {
  font-size: 20px;
  padding: 10px 20px;
  border-top: 7px solid var(--background-color);
  margin-left: -20px;
  margin-right: -20px;
  width: calc(100% + 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-saved-data:first-of-type {
  margin-top: 10px;
}
.section-saved-data:last-of-type {
  border-bottom: 7px solid var(--background-color);
}
.button {
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid var(--gray);
}
.button:hover {
  cursor: pointer;
}
.button-blue {
  background-color: #187ff5;
  color: var(--white);
  border: none;
}
.button-wide {
  width: 40%;
  align-self: center;
  border: 1px solid var(--gray);
}
.button-wide:hover {
  background-color: var(--background-color);
}
.no-button-style {
  border: none;
  background-color: transparent;
}
.button-image {
  width: 30px;
  height: 30px;
}
.button-image:hover {
  cursor: pointer;
}
.edit-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-group {
  display: flex;
  gap: 5px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label-text {
  font-size: 20px;
}

.input,
.textarea {
  width: 100%;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}

.textarea {
  resize: none;
  height: 100px;
}

.resume-container {
  width: 100%;
  height: 90vh;
  max-height: 900px;
  background-color: var(--white);
  position: sticky;
  top: 0;
  align-self: center;
}

.resume-info-section {
  width: 100%;
  height: 200px;
  padding: 30px;
  display: flex;
  background-color: var(--text-color);
  color: var(--white);
}
.resume-info-container {
  display: flex;
  align-items: center;
  justify-content: right;
}
.resume-info-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.resume-name {
  font-size: 52px;
}
.resume-title {
  font-size: 24px;
}
.resume-contact-section {
  font-size: 20px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  text-align: right;
}

.resume-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px 20px;
}

.resume-section {
  width: 80%;
  text-align: center;
}

.resume-section-title {
  background-color: var(--background-color);
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}

.resume-education {
  display: flex;
}

.resume-dates {
  margin-right: 30px;
}

.resume-education-info {
  text-align: left;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }
  .forms-container {
    width: 100%;
    overflow: hidden;
    height: auto;
  }
}
